.work {
  text-align: left;
}

.work__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);
  margin-bottom: 1.5rem;

  /* Blur */
  background-color: transparent;
  backdrop-filter: blur(2px);
  position: sticky;
  display: inline-block;
  width: fit-content;
  padding: 0px 6px 2px 6px;
  border: 1px solid hsla(0, 100%, 100%, 0.25);
  border-radius: 100px;
  top: 8px;
}

.work__project-title {
  font-size: var(--size-lg);
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);
}

.work__img-wrapper {
  position: relative;
}

.work__img-wrapper::after {
  content: "";
  background-color: hsla(0, 0%, 30%, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.work__img-wrapper:hover::after {
  background-color: hsla(0, 0%, 30%, 0.1);
}

.work__project:not(:last-child) {
  margin-bottom: 5rem;
}

.work__project-description {
  font-size: var(--size-base);
  color: var(--color-text);
  margin: 1rem 0;
}

.work__project-btn {
  font-size: var(--size-base);
  text-transform: uppercase;
}

.work__project-btn:hover {
  color: var(--color-heading);
}

.work__project-subtitle {
  display: none;
}

/* xs */
@media (min-width: 475px) {
  .work__title {
    font-size: var(--size-3xl);
    margin: 1.5rem 0;
  }

  .work__project-description {
    margin: 1.5rem 0;
  }
}

/* sm */
@media (min-width: 640px) {
  .work {
    text-align: center;
  }

  .work__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image1 content1"
      "content2 image2";
    place-items: center; /*shorthand for justify items and align items*/
  }

  .work__image1 {
    grid-area: image1;
  }
  .work__image2 {
    grid-area: image2;
  }
  .work__content1 {
    grid-area: content1;
  }
  .work__content2 {
    grid-area: content2;
  }

  .work__project {
    padding: 0 1rem;
  }

  .work__project-title {
    display: none;
  }

  .work__project-description {
    font-size: var(--size-xs);
    margin: 1em 0;
  }

  .work__project-btn {
    font-size: var(--size-xs);
  }

  .work__project:not(:last-child) {
    margin-bottom: 0;
  }

  .work__project-subtitle {
    display: block;
    font-size: var(--size-base);
    font-family: var(--font-family-heading);
    color: var(--color-heading);
  }
}

/* md */
@media (min-width: 768px) {
  .work__project-subtitle {
    font-size: var(--size-lg);
  }

  .work__project-description {
    font-size: var(--size-sm);
  }

  .work__project-btn {
    font-size: var(--size-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .work__title {
    font-size: var(--size-4xl);
  }

  .work__project-subtitle {
    font-size: var(--size-xl);
  }

  .work__project-description {
    font-size: var(--size-base);
  }

  .work__project-btn {
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .work__title {
    font-size: var(--size-5xl);
    margin: 2rem 0;
  }

  .work__project-subtitle {
    font-size: var(--size-2xl);
  }

  .work__project-description {
    font-size: var(--size-lg);
  }

  .work__project-btn {
    font-size: var(--size-lg);
  }

  .work__container {
    width: 80%;
    margin: 0 auto;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .work__container {
    width: 68%;
  }
}
