#work {
  padding-left: 0;
  padding-right: 0;
  min-width: 100vw;
}

.work__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);
  margin-bottom: 1.5rem;

  padding-left: 24px;
}

.work__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  overflow-x: auto;
  margin-inline: auto;
  cursor: pointer;
  user-select: none;

  padding-left: 24px;
  padding-right: 24px;
}

.work__project {
  display: flex;
  flex-direction: column;
  height: 590px;
  min-width: 35ch;
  color: var(--color-text);
  background-image: linear-gradient(
    to bottom,
    var(--color-top),
    var(--color-middle)
  );
  border: 1px solid var(--color-border);
  border-radius: 8px;
  transition: background-color ease 0.3s;
}

.work__img-wrapper {
  position: relative;
  min-width: 50%;
}
.work__img-wrapper::after {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent 65%,
    var(--color-top)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.work__img {
  object-fit: cover;
  height: 100%;
  border-bottom: 0.25px solid var(--color-top);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.work__project-details {
  height: 100%;
  padding: 0 1em 1em 1em;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.work__project-subtitle {
  font-size: var(--size-base);
  font-family: var(--font-family-heading);
  color: var(--color-heading);
}

.work__project-description {
  padding-top: 0.5em;
  font-size: var(--size-sm);
  color: var(--color-text);
}

.work__project-dialog {
  align-self: flex-end;
}

.work__project-btn {
  width: 100%;
  font-size: var(--size-base);
  text-transform: uppercase;
}

.work__project-btn:hover {
  color: var(--color-heading);
}

/* xs */
@media (min-width: 475px) {
  .work__title {
    font-size: var(--size-3xl);
    margin: 1.5rem 0;

    padding-left: calc((100vw - 435px) / 2);
    padding-right: calc((100vw - 435px) / 2);
  }

  .work__container {
    padding-left: calc((100vw - 435px) / 2);
    padding-right: calc((100vw - 435px) / 2);
  }

  .work__project {
    height: 620px;
  }
}

/* sm */
@media (min-width: 640px) {
  .work__title {
    padding-left: calc((100vw - 592px) / 2);
    padding-right: calc((100vw - 592px) / 2);
  }

  .work__container {
    gap: 1.5rem;
    padding-left: calc((100vw - 592px) / 2);
    padding-right: calc((100vw - 592px) / 2);
  }

  .work__project {
    height: 590px;
  }

  .work__project-description {
    font-size: var(--size-xs);
  }

  .work__project-btn {
    font-size: var(--size-xs);
  }
}

/* md */
@media (min-width: 768px) {
  #work {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 0;
    width: 100%;
  }

  .work__title {
    padding-left: 0;
    padding-right: 0;
  }

  .work__container {
    flex-direction: column;
    cursor: default;

    padding-left: 0;
    padding-right: 0;
  }

  .work__project {
    gap: 0;
    min-width: 100%;
    height: auto;
  }

  .work__project-1 {
    flex-direction: row;
    text-align: right;
    background-image: linear-gradient(
      to right,
      var(--color-top),
      var(--color-middle)
    );
  }
  .work__project-2 {
    flex-direction: row-reverse;
    background-image: linear-gradient(
      to left,
      var(--color-top),
      var(--color-middle)
    );
  }
  .work__project-3 {
    flex-direction: row;
    text-align: right;
    background-image: linear-gradient(
      to right,
      var(--color-top),
      var(--color-middle)
    );
  }
  .work__project-4 {
    flex-direction: row-reverse;
    background-image: linear-gradient(
      to left,
      var(--color-top),
      var(--color-middle)
    );
  }
  .work__project-5 {
    flex-direction: row;
    text-align: right;
    background-image: linear-gradient(
      to right,
      var(--color-top),
      var(--color-middle)
    );
  }

  .work__img-1 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
  }
  .work__img-2 {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 8px;
  }
  .work__img-3 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
  }
  .work__img-4 {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 8px;
  }
  .work__img-5 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
  }

  .work__img-wrapper::after {
    background-image: none;
  }

  .work__project-details {
    padding: 1em;
  }

  .work__project-subtitle {
    font-size: var(--size-lg);
  }

  .work__project-description {
    font-size: var(--size-sm);
  }

  .work__project-btn {
    font-size: var(--size-sm);
    width: auto;
  }
}

/* lg */
@media (min-width: 1024px) {
  .work__container {
    max-width: 80%;
  }

  .work__title {
    font-size: var(--size-4xl);
    text-align: center;
  }

  .work__project-subtitle {
    font-size: var(--size-xl);
  }

  .work__project-description {
    font-size: var(--size-base);
  }

  .work__project-btn {
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .work__container {
    max-width: 68%;
  }

  .work__title {
    font-size: var(--size-5xl);
    margin: 2rem 0;
  }

  .work__project-subtitle {
    font-size: var(--size-2xl);
  }

  .work__project-description {
    font-size: var(--size-lg);
  }

  .work__project-btn {
    font-size: var(--size-lg);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .work__container {
    width: 65%;
  }
}
