.work__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);
  margin-bottom: 1.5rem;
}

.work__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  overflow-x: auto;
  margin-inline: auto;
}

.work__project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 90%;
  color: var(--color-text);
  border: 1px solid var(--color-border);
}

.work__project-title {
  font-size: var(--size-lg);
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);
}

.work__img-wrapper {
  min-width: 50%;
}

.work__img {
  object-fit: cover;
}

.work__project-details {
  margin-top: auto;
  margin-bottom: auto;
}

.work__project-description {
  font-size: var(--size-sm);
  color: var(--color-text);
  margin: 1rem 0;
}

.work__project-btn {
  font-size: var(--size-base);
  text-transform: uppercase;
}

.work__project-btn:hover {
  color: var(--color-heading);
}

.work__project-subtitle {
  font-size: var(--size-base);
  font-family: var(--font-family-heading);
  color: var(--color-heading);
}

/* xs */
@media (min-width: 475px) {
  .work__title {
    font-size: var(--size-3xl);
    margin: 1.5rem 0;
  }

  .work__project-description {
    margin: 1.5rem 0;
  }
}

/* sm */
@media (min-width: 640px) {
  .work__container {
    flex-direction: column;
  }

  .work__project {
    gap: 0;
    min-width: 100%;
  }

  .work__project-1 {
    flex-direction: row;
    text-align: right;
  }
  .work__project-2 {
    flex-direction: row-reverse;
  }
  .work__project-3 {
    flex-direction: row;
    text-align: right;
  }
  .work__project-4 {
    flex-direction: row-reverse;
  }
  .work__project-5 {
    flex-direction: row;
    text-align: right;
  }

  .work__project-description {
    font-size: var(--size-xs);
    margin: 1em 0;
  }

  .work__project-btn {
    font-size: var(--size-xs);
  }
}

/* md */
@media (min-width: 768px) {
  .work__project-subtitle {
    font-size: var(--size-lg);
  }

  .work__project-description {
    font-size: var(--size-sm);
  }

  .work__project-btn {
    font-size: var(--size-sm);
  }
}

/* lg */
@media (min-width: 1024px) {
  .work__container {
    max-width: 80%;
  }

  .work__title {
    font-size: var(--size-4xl);
    text-align: center;
  }

  .work__project-subtitle {
    font-size: var(--size-xl);
  }

  .work__project-description {
    font-size: var(--size-base);
  }

  .work__project-btn {
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .work__container {
    max-width: 70%;
  }

  .work__title {
    font-size: var(--size-5xl);
    margin: 2rem 0;
  }

  .work__project-subtitle {
    font-size: var(--size-2xl);
  }

  .work__project-description {
    font-size: var(--size-lg);
  }

  .work__project-btn {
    font-size: var(--size-lg);
  }

  .work__container {
    width: 80%;
    margin: 0 auto;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .work__container {
    width: 68%;
  }
}
