.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: calc(100vh - (2 * var(--header-height) - 0.5rem));
  min-height: min-content;
}

.hero__img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hero__subtitle {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
  font-size: var(--size-base);
  font-weight: 500;
  line-height: 0.9;
}

.hero__title {
  color: var(--color-heading);
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  font-size: var(--size-5xl);
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-base);
  color: var(--color-text);
}

.hero__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-size: var(--size-base);
}

.hero__btn a {
  flex: 1;
  max-width: 110.83px;
  text-align: center;
  white-space: nowrap;
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .hero {
    margin-top: calc(var(--header-height) + 2rem);
  }

  .hero__title {
    font-weight: 700;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }

  .hero__btn a {
    max-width: 124.67px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-4xl);
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btn {
    font-size: var(--size-xl);
  }

  .hero__btn a {
    max-width: 138.53px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
