.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  height: calc(100vh - var(--header-height));
  min-height: min-content;
}

.hero__intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__intro-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.hero__intro-subtitle {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
  font-size: var(--size-base);
  font-weight: 400;
  line-height: 0.9;
}

.hero__title {
  color: var(--color-heading);
  text-transform: uppercase;
  font-family: var(--font-family-heading);
  font-size: 4rem;
  line-height: 1;
  font-weight: 600;
  text-align: left;
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-base);
  font-weight: 300;
  color: var(--color-heading);
  text-align: left;
}

.hero__btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  text-transform: uppercase;
  font-size: var(--size-base);
}

.hero__btns a {
  flex: 1;
  max-width: 110.83px;
  text-align: center;
  white-space: nowrap;
}

/* xs */
@media (min-width: 475px) {
  .hero {
    align-items: center;
    gap: 1.5rem;
  }

  .hero__intro {
    align-items: center;
  }

  .hero__intro-img {
    width: 6rem;
    height: 6rem;
  }

  .hero__intro-subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    text-align: center;
    font-size: var(--size-7xl);
  }

  .hero__description {
    text-align: center;
  }

  .hero__btns {
    justify-content: center;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .hero {
    margin-top: var(--header-height);
  }

  .hero__title {
    font-weight: 700;
    font-size: var(--size-8xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__intro-subtitle {
    font-size: var(--size-2xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btns {
    font-size: var(--size-lg);
  }

  .hero__btns a {
    max-width: 124.67px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__intro-img {
    width: 8rem;
    height: 8rem;
  }

  .hero__intro-subtitle {
    font-size: var(--size-4xl);
  }

  .hero__title {
    font-weight: 700;
    font-size: var(--size-9xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btns {
    font-size: var(--size-xl);
  }

  .hero__btns a {
    max-width: 138.53px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
