.about__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  font-weight: 500;
  color: var(--color-heading);
  margin-bottom: 0.75em;
}

.about__description {
  font-size: var(--size-base);
  color: var(--color-text);
  margin-bottom: 1em;
}

.about__technologies-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  list-style: none;
  color: var(--color-text);
  border-radius: 1.5rem;
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.about__technologies-title {
  grid-column: span 2 / span 2;
  width: 100%;
  height: 100%;
  padding: 28px;
  font-size: var(--size-base);
  font-weight: 400;
  font-family: var(--font-family-mono);
  color: var(--color-nav-item);
  background-color: var(--color-general);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--color-border);
}

.about__technologies-content li {
  width: 100%;
  height: 100%;
  outline: 1px solid var(--color-border);
}

.about__technologies-content figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 28px;
}

.about__technologies-content figcaption {
  font-size: var(--size-sm);
  color: var(--color-heading);
}

/* xs */
@media (min-width: 475px) {
  .about__title {
    font-size: var(--size-3xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .about__technologies-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__technologies-title {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__technologies-title {
    grid-column: span 1 / span 1;
  }

  .about__technologies-content {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
