.about__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);
}

.about__description {
  font-size: var(--size-base);
  color: var(--color-text);
}

.about__technologies-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  list-style: none;
  color: var(--color-text);
  border-radius: 8px;
}

.about__technologies-title {
  grid-column: span 2 / span 2;
  width: 100%;
  height: 100%;
  padding: 28px;
  font-size: var(--size-base);
  font-weight: 700;
  font-family: var(--font-family-mono);
  color: var(--color-nav-item);
  background-color: var(--color-nav-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border);
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.about__technologies-content li {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border);
  transition: background-color ease 0.2s;
}
.about__technologies-content li:nth-last-child(2) {
  border-bottom-left-radius: 8px;
}
.about__technologies-content li:last-child {
  border-bottom-right-radius: 8px;
}

.about__technologies-content figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 28px;
  transition: color ease 0.4s;
}

.about__technologies-content figcaption {
  font-size: var(--size-sm);
  color: var(--color-heading);
}

/* xs */
@media (min-width: 475px) {
  .about__title {
    font-size: var(--size-3xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .about__technologies-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .about__technologies-title {
    border-top-right-radius: 0px;
  }

  .about__technologies-content li:nth-child(3) {
    border-top-right-radius: 8px;
  }
  .about__technologies-content li:nth-child(4) {
    border-bottom-left-radius: 8px;
  }
  .about__technologies-content li:nth-child(6) {
    border-bottom-left-radius: 0px;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__technologies-title {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__technologies-title {
    grid-column: span 1 / span 1;
    border: 1px solid var(--color-border);
    border-right: none;
    border-bottom-left-radius: 8px;
  }

  .about__technologies-content {
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }

  .about__technologies-content li:nth-child(3) {
    border-top-right-radius: 0px;
  }
  .about__technologies-content li:nth-child(4) {
    border-bottom-left-radius: 0px;
  }
  .about__technologies-content li:last-child {
    border-top-right-radius: 8px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
