.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.about__title,
.about__technologies-title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  color: var(--color-heading);

  /* Blur */
  /* background-color: transparent;
  backdrop-filter: blur(2px);
  position: sticky;
  display: inline-block;
  width: fit-content;
  padding: 0px 6px 2px 6px;
  border: 1px solid hsla(0, 100%, 100%, 0.25);
  border-radius: 100px;
  top: 8px; */
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-base);
  color: var(--color-text);
}

.about__img {
  width: 100%;
}

.about__technologies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  max-width: 60ch;
  margin: auto;
}

.about__technologies-content {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  max-width: 60ch;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-items: center; */
  justify-items: space-between;
  align-items: center;
  gap: 1rem;
}

.about__technologies-content li {
  justify-self: flex-start;
  margin: 0;
}

.about__technologies-content img {
  width: 5rem;
  height: 5rem;
  margin: 0;
  padding: 0 0 0.25em 0;
}

.about__technologies-content figcaption {
  text-align: center;
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }

  .about__content {
    gap: 1.5rem;
  }

  .about__title,
  .about__technologies-title {
    font-size: var(--size-3xl);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    /* grid-template-areas:
      "content img"
      "technologies technologies"; */
    grid-template-areas: "about technologies";
    column-gap: 3em;
  }

  .about__content {
    grid-area: about;
    margin-left: 0;
  }

  .about__technologies {
    grid-area: technologies;
    align-items: flex-end;
    margin-right: 0;
  }

  .about__technologies-content li {
    justify-self: flex-end;
    margin: 0;
  }

  .about__title,
  .about__technologies-title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  /* .about__technologies-title {
    font-size: var(--size-lg);
  } */
}

/* xl */
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }

  .about__title,
  .about__technologies-title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
