.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: var(--color-primary);
  filter: brightness(1);
  background-image:
    radial-gradient(var(--color-black) 0.25px, transparent 1px),
    radial-gradient(var(--color-black) 0.25px, transparent 1px);
  background-size: 6px 6px;
  background-position:
    0 0,
    3px 3px;
  background-repeat: repeat;
}

.contact__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 0.75em;
  z-index: 10;
}

.contact__description {
  text-align: center;
  text-justify: inter-word;
  font-size: var(--size-base);
  color: var(--color-black);
  max-width: 60ch;
  margin-bottom: 1em;
  z-index: 10;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
}

.contact__btn {
  font-size: var(--size-base);
  text-transform: uppercase;
  border: 2px solid hsl(60, 1%, 18%);
  background-color: var(--color-black);
  color: var(--color-primary);
}

/* xs */
@media (min-width: 475px) {
  .contact__title {
    font-size: var(--size-3xl);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .contact__title {
    font-size: var(--size-4xl);
  }

  .contact__description {
    font-size: var(--size-lg);
  }

  .contact__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact__title {
    font-size: var(--size-5xl);
  }

  .contact__description {
    font-size: var(--size-xl);
  }

  .contact__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
