.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-bottom: 4.5rem; */
}

.contact__title {
  font-size: 1.75rem;
  font-family: var(--font-family-heading);
  font-weight: 500;
  color: var(--color-heading);
  margin-bottom: 0.75em;

  /* Blur */
  /* background-color: transparent;
  backdrop-filter: blur(2px);
  position: sticky;
  display: inline-block;
  width: fit-content;
  padding: 0px 6px 2px 6px;
  border: 1px solid hsla(0, 100%, 100%, 0.25);
  border-radius: 100px;
  top: 8px; */
}

.contact__description {
  text-align: center;
  text-justify: inter-word;
  font-size: var(--size-base);
  color: var(--color-text);
  max-width: 60ch;
  margin-bottom: 1em;
}

.contact__btn {
  font-size: var(--size-base);
  text-transform: uppercase;
}

/* xs */
@media (min-width: 475px) {
  .contact__title {
    font-size: var(--size-3xl);
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .contact__title {
    font-size: var(--size-4xl);
  }

  .contact__description {
    font-size: var(--size-lg);
  }

  .contact__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .contact__title {
    font-size: var(--size-5xl);
  }

  .contact__description {
    font-size: var(--size-xl);
  }

  .contact__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
