footer {
  background-color: var(--color-nav-bg);
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "nav"
    "connect"
    "footer";
  gap: 1em;
  padding-top: 1.5rem;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
  list-style: none;
  /* margin: 1rem 0 0 0; */
  padding: 0;
  grid-area: nav;
}

.footer__nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--size-base);
  font-family: var(--font-family-mono);
  font-weight: 400;
  color: var(--color-nav-item);
  letter-spacing: 0.0625em;
  transition: color 0.3s;
}

.footer__connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  grid-area: connect;
}

.footer__connect-title {
  display: none;
}

.footer__connect-img {
  width: var(--size-2xl);
  object-fit: contain;
}

.footer__note {
  grid-area: footer;
  text-align: center;
  font-size: var(--size-xs);
  font-family: var(--font-family-mono);
  color: var(--color-nav-item);
  margin-bottom: 0.5em;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "footer connect";
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .footer__nav {
    display: none;
  }

  .footer__connect {
    /* flex-direction: column; */
    justify-content: flex-end;
    row-gap: 0.5em;
  }

  /* .footer__connect-title {
    display: inline-block;
    font-family: var(--font-family-heading);
    color: var(--color-heading);
  } */

  .footer__note {
    text-align: start;
    margin: 0;
  }
}

/* lg */
@media (min-width: 1024px) {
  .footer__nav-link {
    font-size: var(--size-lg);
  }

  .footer__connect-img {
    width: var(--size-3xl);
  }

  .footer__note {
    font-size: var(--size-sm);
  }
}

/* xl */
@media (min-width: 1280px) {
  .footer__nav-link {
    font-size: var(--size-xl);
  }

  .footer__note {
    font-size: var(--size-base);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
