header {
  background-color: var(--color-nav-bg);
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}

.header-logo {
  flex-grow: 1;
}

.header-logo__link {
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-nav-item);
  text-decoration: none;
  cursor: pointer;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  visibility: visible;
}

.header-logo__link.hidden {
  opacity: 0;
  visibility: hidden;
}

.header__bars {
  height: calc(var(--header-height) - 1.1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
  position: relative;
  cursor: pointer;
  position: relative;
}
.header__bars span {
  width: 14px;
  height: 2px;
  border-radius: 2px;
  transition: opacity 0.1s, transform 0.3s ease;
  background-color: var(--color-nav-item);
}

/* Hamburger menu active */
.header__bars.active span:nth-child(1) {
  transform-origin: center center;
  transform: translateY(4px) rotate(-45deg);
}

.header__bars.active span:nth-child(2) {
  opacity: 0;
}

.header__bars.active span:nth-child(3) {
  transform-origin: center center;
  transform: translateY(-4px) rotate(45deg);
}

/* xs */
@media (min-width: 475px) {
  .header__content {
    padding-top: 0.425rem;
    padding-bottom: 0.425rem;
  }

  .header-logo__link {
    font-size: 1.75rem;
  }

  .header__bars {
    height: calc(var(--header-height) - 0.85rem);
  }
}

/* sm */
@media (min-width: 640px) {
  .header__content {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .header-logo__link {
    font-size: 2rem;
  }

  .header__bars {
    height: calc(var(--header-height) - 0.6rem);
    gap: 3px;
  }

  .header__bars span {
    width: 21px;
    height: 3px;
  }

  .header__bars.active span:nth-child(1) {
    transform-origin: center center;
    transform: translateY(6px) rotate(-45deg);
  }

  .header__bars.active span:nth-child(3) {
    transform-origin: center center;
    transform: translateY(-6px) rotate(45deg);
  }
}

/* md */
@media (min-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    z-index: 9999;
  }

  .header-logo {
    display: none;
  }

  .header__content {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-nav-item);
    letter-spacing: 0.0625em;
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--color-white);
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__link {
    font-size: var(--size-sm);
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

@media (prefers-color-scheme: dark) {
  .header__link:hover {
    color: var(--color-black);
  }
}
