.mobile-nav {
  will-change: transform, opacity;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 1;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  transform: translate3d(0, -100%, 0);
  pointer-events: none;
  background-color: var(--color-nav-bg);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  transition: color 0.5s ease;
}

.mobile-nav.active {
  animation: slideDown 0.5s ease forwards;
  pointer-events: auto;
}

.mobile-nav.not-active {
  animation: slideUp 0.5s ease forwards;
  pointer-events: auto;
}

.mobile-nav__menu {
  list-style: none;
  padding-top: 4rem;
  padding-left: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}

.mobile-nav__link {
  text-decoration: none;
  font-family: var(--font-family-mono);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-nav-item);
  text-transform: uppercase;
}

@keyframes slideDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}

/* xs */
@media (min-width: 475px) {
  .mobile-nav__link {
    font-size: 1.75rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .mobile-nav__link {
    font-size: 2rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .mobile-nav {
    animation: none !important;
    transform: translateY(0) !important;
  }
}
