.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  opacity: 1;
  justify-content: left;
  align-items: left;
  text-align: left;
  transform: translateY(-100%);
  pointer-events: none;
  background-color: var(--color-nav-bg);
  backdrop-filter: blur(40px);
  transition: color 0.5s ease forwards;
}

.mobile-nav.active {
  display: block;
  animation: slideDown 0.5s ease forwards;
  pointer-events: auto;
}

.mobile-nav.not-active {
  animation: slideUp 0.5s ease forwards;
  pointer-events: auto;
}

.mobile-nav__menu {
  list-style: none;
  padding-top: 4rem;
  padding-left: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
}

.mobile-nav__link {
  text-decoration: none;
  font-family: var(--font-family-mono);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-nav-item);
  text-transform: uppercase;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    /* background-color: var(--color-nav-bg); */
  }
  to {
    transform: translateY(0%);
    /* background-color: var(--color-general); */
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
    /* background-color: var(--color-general); */
  }
  to {
    transform: translateY(-100%);
    /* background-color: var(--color-nav-bg); */
  }
}

/* xs */
@media (min-width: 475px) {
  .mobile-nav__link {
    font-size: 1.75rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .mobile-nav__link {
    font-size: 2rem;
  }
}
