@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&PT+Sans+Narrow:wght@400;700&display=swap");
@import "tw-animate-css";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Custom styles */
  /* fonts */
  --font-family-heading: "Roboto", system-ui, sans-serif;
  --font-family-text: "Roboto", system-ui, sans-serif;
  --font-family-mono: "Roboto Mono", monospace;
  --font-family-long: "PT Sans Narrow", sans-serif;
  --font-sans: "Roboto", system-ui, sans-serif;

  /* sizes */
  --size-xss: 0.5rem; /*8*/
  --size-xs: 0.75rem; /*12*/
  --size-sm: 0.875rem; /*14*/
  --size-base: 1rem; /*16*/
  --size-lg: 1.125rem; /*18*/
  --size-xl: 1.25rem; /*20*/
  --size-2xl: 1.5rem; /*24*/
  --size-3xl: 1.875rem; /*30*/
  --size-4xl: 2.25rem; /*36*/
  --size-5xl: 3rem; /*48*/
  --size-6xl: 3.75rem; /*60*/
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* height of the header */
  --header-height: 49.6px;

  /* font colors */
  --color-heading: hsl(0, 0%, 5%);
  --color-text: hsl(0, 0%, 30%);

  /* colors */
  /* --color-primary: hsl(140, 70%, 40%); */
  --color-primary: hsl(72, 76%, 57%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-bottom: hsl(0, 0%, 90%);
  --color-middle: hsl(0, 0%, 95%);
  --color-top: hsl(0, 0%, 100%);
  --color-general: hsl(0, 0%, 0%);
  --color-nav-bg: rgba(22, 22, 23, 0.8);
  --color-nav-item: rgba(255, 255, 255, 0.8);
  --color-border: hsl(0, 0%, 70%);
  --color-border-highlight: hsl(0, 0%, 40%);
  --gradient: linear-gradient(0deg, var(--color-middle) 95%, var(--color-top));
  --gradient-hover: linear-gradient(
    0deg,
    var(--color-middle),
    var(--color-top)
  );
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Custom styles */
  /* colors */
  --color-bottom: hsl(0, 0%, 0%);
  --color-middle: hsl(0, 0%, 5%);
  --color-top: hsl(0, 0%, 10%);
  --color-general: hsl(0, 0%, 100%);
  --color-nav-bg: rgba(250, 250, 252, 0.8);
  --color-nav-item: rgba(0, 0, 0, 0.8);
  --color-border: hsl(0, 0%, 30%);
  --color-border-highlight: hsl(0, 0%, 60%);
  --gradient: linear-gradient(0deg, var(--color-middle) 95%, var(--color-top));
  --gradient-hover: linear-gradient(
    0deg,
    var(--color-middle),
    var(--color-top)
  );

  /* font colors */
  --color-heading: hsl(0, 0%, 95%);
  --color-text: hsl(0, 0%, 70%);
}

@layer base {
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-family-text);
    background-color: var(--color-bottom);
  }

  .no-scroll {
    overflow: hidden;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }

  button {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    color: inherit;
  }

  a {
    text-decoration: underline;
  }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1.5rem;

    @media (min-width: 475px) {
      max-width: 475px;
    }

    @media (min-width: 640px) {
      max-width: 640px;
    }

    @media (min-width: 768px) {
      max-width: 768px;
    }

    @media (min-width: 1024px) {
      max-width: 1024px;
    }

    @media (min-width: 1280px) {
      max-width: 1280px;
    }

    @media (min-width: 1536px) {
      max-width: 1536px;
    }
  }

  .section {
    margin-top: 5rem;

    @media (min-width: 1024px) {
      margin-top: 10rem;
    }
  }

  .btn {
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-family-mono);
    padding: 0.25em 0.5em;
    border: 2px solid hsl(72, 65%, 75%);
    border-radius: 50px;
    background-color: var(--color-primary);
    color: var(--color-black);
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  }

  .btn:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
    box-shadow: 0px 2px 2px oklch(0 0 0 / 0.2), 0px 4px 4px oklch(0 0 0 / 0.1);
    color: hsl(0, 0%, 5%);
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media (prefers-color-scheme: dark) {
    .btn:hover {
      box-shadow: 0px 4px 4px oklch(0.868 0.187 121 / 0.2),
        0px 6px 6px oklch(0.868 0.187 121 / 0.1);
    }
  }

  @keyframes ripple {
    0%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
  .animate-ripple {
    animation: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s) infinite;
  }
}
